{
    "plugins": [
        "syntax-dynamic-import"
    ],
    "presets": [
        "react",
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "env": {
        "karma": {
            "plugins": [
                [
                    "istanbul",
                    { "exclude": [ "tests/*.test.js" ] }
                ]
            ]
        }
    }
}